<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.maxiangshun.file.mapper.FileInfoMapper">

    <resultMap type="cn.maxiangshun.file.entity.po.FileInfo" id="fullColumnMap">
        <result property="fileId" column="file_id"/>
        <result property="fileSourceName" column="file_source_name"/>
        <result property="fileFullName" column="file_full_name"/>
        <result property="filePrefixName" column="file_prefix_name"/>
        <result property="fileSuffixName" column="file_suffix_name"/>
        <result property="fileCategory" column="file_category"/>
        <result property="filePath" column="file_path"/>
        <result property="fileRelativePath" column="file_relative_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="creatorId" column="creator_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="removeUserId" column="remove_user_id"/>
        <result property="removeTime" column="remove_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>

